body {background-color: tomato;}
h1 {color: white}
h2 {color: white;background-color: maroon;}
h3 {color: darkmagenta;font-size: 35px}
table, th, td {text-align: center;color: white;;witdh: 50%}
p {font-size: 15px; color: white}