body {background-color: cadetblue;}
h2 {color: blueviolet;background-color: darkslateblue;}
h3 {color: darkmagenta;}
table, th, td {border: 2px blue; text-align: center;color: indigo;border-collapse: collapse;}
p {font-family: 'Brush Script MT', cursive;}
